.outerWrapper {
	width: 100vw;
	height: 60vh;
	margin: auto;
	margin-top: 5%;

	.cardWrapper {
		display: flex;
		width: 60%;
		margin: auto;
		margin-top: 1%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		// align-items: stretch;
		// align-content: stretch;
	}
}

.ourItemsBanner {
	margin: auto;
	background-image: url("../../assets/our items.jpg"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 215px;
	width: 1330px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}
