.yourItemsBanner {
	margin: auto;
	background-image: url("../../assets/your items.png"); /* The image used */
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 215px;
	width: 1330px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}
